@import '../../styles/base.scss';

header{
    .header{
        position: fixed;
        top: 0;
        width: 100%;
        height: 5rem;
        background-color: $light;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 0.5rem 3rem rgba(0,0,0,0.1);
        z-index: 1000;
    
            &__left{
                flex: 1;
                display: flex;
                align-items: center;
                padding-left: 2rem;
    
                div{
                    font-size: 2rem;
                    margin-right: 2rem;
                    cursor: pointer;
    
                    &::after{
                        content: '';
                        display: block;
                        width: 0;
                        height: 0.2rem;
                        background-color: $dark;
                        transition: all 0.3s;
                    }
                    &:hover::after{
                        width: 100%;
                    }
                }
            }
    
            &__logo{
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2rem;
                font-weight: 700;
                cursor: pointer;
            }
    
            &__right{
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding-right: 2rem;
    
                div{
                    width: 2rem;
                    height: 100%;
                    font-size: 2rem;
                    margin-right: 3rem;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    &:nth-child(2){
                        &:hover{
                            color: $primary;
                        }
                    }
                    &:nth-child(3){
                        &:hover{
                            color: $primary;
                        }
                    }
                    
                }
                &__qty{
                    font-size: 1.6rem;
                    font-weight: 600;
                    color: $dark;
                    transform: translate(-150%, 10%);
                }   
            }
    }
    .category{
        position: fixed;
        top: 5rem;
        left: 0;
        width: 100%;
        height: 5rem;
        background-color: $dark;
        display: flex;
        gap: 1.25rem;
        align-items: center;
        justify-content: flex-start;
        padding: .75rem 5rem;
        z-index: 1000;

        &__element{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.6rem;
            color: $light;
            cursor: pointer;
            transition: all 0.3s;
            padding: .75rem;
            border-radius: 5rem;
            min-width: 10rem;

            &:hover{
                background-color: $light;
                color: $dark;
            }
        }
    }
}
