.home{
    margin-top: 10rem;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);

    .bg{
        background-image: url("https://wallpaperbat.com/img/131898-tuscan-vineyard-village-wallpaper.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        position: relative;
        z-index: -1;
        filter: brightness(0.5);
    }


}


//------------------------LOADER----------------------------------//@at-root

.grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    justify-items: center;
    grid-gap: 2rem;
    padding: 2.5rem 0;
}


.skeleton{
    height: 50rem;
    width: 30rem;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0,0,0,.3);
    
    background-size: 100%;
    background-image: -webkit-linear-gradient(left, #ececec 0px, #f4f4f4 80px, #ececec 160px);
    background-image: -o-linear-gradient(left, #ececec 0px, #f4f4f4 80px, #ececec 160px);
    background-image: linear-gradient(90deg, #ececec 0px, #f4f4f4 80px, #ececec 160px);
    -webkit-animation: shine-loading 1s infinite ease-out;
            animation: shine-loading 1s infinite ease-out;
      
}

@keyframes shine-loading {
    0% {
      background-position: -50px;
    }
    40%, 100% {
      background-position: 250px;
    }
  }