.button{
    width: inherit;
    height: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: inherit;
    font-size: inherit;
}

.Drawer{
    height: 100%;
}