.product{
    height: 50rem;
    width: 30rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
    border: 1px solid $dark;
    box-shadow: 0 0 2px rgba(0,0,0,.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    

    &__image{
        width: auto;
        height: 30rem;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__description{
        width: 100%;
        height: 8rem;
        max-height: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        padding: 0rem 2rem;
        text-align: center;

        &__name{
            font-size: 1.8rem;
            font-weight: 600;
            margin: .25rem 0;
            word-break: normal;
        }
        &__quantity{
            font-size: 1.4rem;
            font-weight: 500;
            margin: .25rem 0;
        }
    }

    &__price{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        padding: 2rem;


        &__value{
            font-size: 1.8rem;
            font-weight: 600;
            margin: .25rem 0;
        }
        &__addbtn{
            width: 100%;
            height: 3rem;
            background-color: $dark;
            border: 1px solid $light;
            color: $light;
            cursor: pointer;
            font-size: 1.4rem;
            font-weight: 600;
            transition: all .3s ease-in-out;
            &:hover{
                background-color: $primary;
                
            }
        }
    }
    &:hover{
        box-shadow: 0 0 5px rgba(0,0,0,.5);
    }
}