.shop{
    min-height: 100vh;
    padding: 15rem calc((100vw - 1300px) / 2) 5rem;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-gap: 2rem;
    grid-template-areas: 
    "filters main"
    ;

    &__filters{
        grid-area: filters;
        border: 1px solid black;
    }

    &__main{
        grid-area: main;
        border: 1px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 2rem;

        &__header{
            width: 100%;
            
            h1{
                font-size: 2.5rem;
                font-weight: 700;
                margin-bottom: .5rem;
                text-align: center;
            }
            hr{
                width: 100%;
                margin-bottom: 1rem;
            }
        }

        &__sort{
            width: 100%;
            display: flex;

            &__pagination{
                display: flex;
                align-items: center;
            }
        }
    }
}