.shop{
    min-height: 100vh;
    padding: 15rem calc((100vw - 1450px) / 2);

    display: grid;

    &__main{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 2rem;

        &__header{
            width: 100%;
            
            h1{
                font-size: 2.5rem;
                font-weight: 700;
                margin-bottom: .5rem;
                text-align: center;
            }
            hr{
                width: 100%;
                margin-bottom: 1rem;
            }
        }

        &__sort{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 3rem;

            &__section{
                display: flex;
                align-items: center;
                gap: 2rem;
            }

            &__pagination{
                display: flex;
                align-items: center;
                gap: 1rem;
            }
        }
        
    }
}


.listing{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    justify-items: center;
    grid-gap: 2rem;
    padding: 2.5rem 0;
}

//------------------------------------FILTERS------------------------------------//

$bg-primary: #fffffe;
$bg-secondary: #181818;
$bg-tertiary: #FFD803;

$text-headline-primary: #272343;
$text-headline-secondary: #fffffe;
$text-headline-tertiary: #272343;

$text-primary: #2d334a;
$text-secondary: #ddd6d6;
$text-tertiary: #272343;

.aside{
    height: 100%;
    &_list{
        width: 250px;
        height: 100%;
        font-size: 2rem;
        line-height: calc(2rem*1.25);
        font-weight: 500;
        background-color: $bg-secondary;
        list-style-type: none;
        padding: 0;
        li{
            width: 100%;
            height: 5rem;
            padding: 1rem, 0;
            color: $text-secondary;
            transition: all 0.3s ease-in-out;
            &:hover{
                background-color: darken($bg-secondary, 10%);
                color: darken($text-secondary, 10%);
            }
            a{
                padding: 1rem;
                width: 100%;
                display: block;
                text-decoration: none;
                color: inherit;
            }
        }
    }
}
