@import "../../../styles/base.scss";

.productPage{
    min-height: 100vh;
    padding: 17.5rem 0;
    display: flex;
}

.Product{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
    justify-content: center;
    margin: auto;
    max-width: 80%;

    &__image{
        width: 80%;
        height: auto;
        
        object-fit: cover;
        border-radius: 1rem;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1rem;
        }
    }

    &__info{
        display: grid;
        grid-template-columns: 2fr 20% 1fr;
        grid-template-rows: 0.5fr 0.5fr 1fr;
        grid-template-areas:
        'title . btns'
        'attributes attributes .'
        'description description .'
        ;
        gap: 3rem;

        
        &__title{
            grid-area: title;
            
            h1{
                font-size: 3.2rem;
                font-weight: 800;
                margin-bottom: 1rem;
                &::after{
                    content: '';
                    display: block;
                    width: 100%;
                    height: 0.125rem;
                    background-color: $dark;
                    border-radius: 1rem;
                }
            }

            p{
                font-size: 1.8rem;
            }   
        }

        &__checkout{
            grid-area: btns;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            &__price{
                font-size: 2.5rem;
            }
        }
        &__attributes{
            grid-area: attributes;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;

            span{
                font-size: 1.8rem;
            }


        }
        &__description{
            grid-area: description;
            p{
                font-size: 1.8rem;
                line-height: 1.5;
            }
        }
    }

}



//---------------------Fy-------------------------//



.fy{
    margin-top: 8rem;
    grid-column: 1 / -1;
    &__title{
            text-align: center;
    
            font-size: 2.8rem;
            font-weight: 700;
            margin-bottom: 1rem;
            
            
    }
    &__container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;
        justify-content: center;
        margin: auto;
        max-width: 90%;
        margin-top: 5rem;
    }
}

