@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 10px;
}

body{
    font-family: 'Cormorant Garamond', serif;   
}


